<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- Настройка целей (targets) -->
  <targets>
    <!-- Логирование в файл -->
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
            archiveFileName="${basedir}/logs/archive/{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            keepFileOpen="false"
            encoding="utf-8" />
    
    <!-- Логирование в консоль (для отладки) -->
    <target name="console" xsi:type="Console"
            layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}" />
  </targets>
	
	<!--Логирование в бд -->
   <target name="database" xsi:type="Database">
    <connectionString>Data Source=DESKTOP-FLP8EG6\MSSQLSERVER209;Initial Catalog=Kasyanov_NRI;Integrated Security=True;Encrypt=False</connectionString>
    <commandText>
    INSERT INTO UserActivityLog (UserID, ActivityType, Details) VALUES (@UserID, @ActivityType, @Details);
    </commandText>
    <parameter name="@UserID" layout="${UserID}" />
    <parameter name="@ActivityType" layout="${ActivityType}" />
    <parameter name="@Details" layout="${Details}" />
</target>
  <!-- Настройка правил логирования -->
  <rules>
    <!-- Логировать всё в файл -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    
    <!-- Логировать всё в консоль (для отладки) -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>