<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bully_Maguire.Properties.Settings.Bully_MaguireConnectionString"
            connectionString="Data Source=209-U\SQLEXPRESS209;Initial Catalog=&quot;Bully Maguire&quot;;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Bully_Maguire.Properties.Settings.Bully_MaguireConnectionString1"
            connectionString="Data Source=DESKTOP-J8U6FKK\SQLEXPRESS;Initial Catalog=&quot;Bully Maguire&quot;;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Bully_Maguire.Properties.Settings.Bully_Maguire1ConnectionString"
            connectionString="Data Source=209-U\SQLEXPRESS209;Initial Catalog=&quot;Bully Maguire1&quot;;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>