<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net48" />
  <package id="IKVM.Image.runtime.android-arm64" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.android-x64" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.linux-arm" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.linux-arm64" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.linux-musl-arm" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.linux-musl-arm64" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.linux-musl-x64" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.linux-x64" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.osx-arm64" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.osx-x64" version="8.11.0" targetFramework="net48" />
  <package id="IKVM.Image.runtime.win-arm64" version="8.11.0" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.2" targetFramework="net48" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
  <package id="XamlAnimatedGif" version="2.3.0" targetFramework="net48" />
</packages>